<ngx-ui-loader
  bgsColor="red"
  text="Por favor espere un momento"
  textColor="#FFFFFF"
  textPosition="center-center"
  maxTime="-1"
  minTime="300"
  bgsPosition="bottom-right"
  bgsType="ball-spin-clockwise"
  blur="5"
  delay="0"
  fastFadeOut="true"
  fgsColor="red"
  fgsPosition="center-center"
  fgsType="three-strings"
  logoUrl=""
  masterLoaderId="master"
  overlayBorderRadius="0"
  overlayColor="rgba(40, 40, 40, 0.8)"
  pbColor="red"
  pbDirection="ltr"
  logoPosition="center-center"
></ngx-ui-loader>
