@keyframes slide-horizontal {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100vw); /* Mueve la imagen a la derecha, al tamaño completo de la ventana */
    }
  }
  
  .animate-slide-horizontal {
    animation: slide-horizontal 10s linear infinite;
  }
  