<div class="flex flex-col min-h-screen">
    <!-- <img src="http://192.168.40.47:9090/assets/image/Logos/logo.png" alt="Logo" class="absolute top-0 left-0 w-24 mt-4 ml-4"> -->
    <img src="http://192.168.40.47:9090/assets/image/Logos/logo.png" alt="Logo"
        class="absolute top-0 left-0 w-24 mt-4 ml-4  animate-bounce duration-2000">
    <!-- <img src="http://192.168.40.47:9090/assets/image/Logos/logo.png" alt="Logo" class="absolute top-0 left-0 w-24 mt-4 ml-4 animate-slide-horizontal"> -->


    <h1 class="text-center text-5xl font-bold pt-12 pb-12 uppercase text-gray-600">ajustes directos de <span
            class="text-blue-700">compras</span> </h1>
    <div class="grid grid-cols-12">
        <div class="col-start-2 col-span-10">
            <form (ngSubmit)="onSearch()" [formGroup]="searchForm">
                <div class="grid grid-cols-4 gap-4">
                    <div class="mb-5">
                        <label for="id_item"
                            class="block mb-2 text-base text-black dark:text-blue-500 font-black">Item</label>
                        <input type="text" id="id_item"
                            class="bg-gray-50 border border-gray-00 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="0245" formControlName="id_item" required />

                        <!-- Validación de item -->
                        @if (searchForm.controls['id_item'].touched &&
                        searchForm.controls['id_item'].hasError('required')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            Campo requerido
                        </p>
                        }

                        @if (searchForm.controls['id_item'].touched &&
                        searchForm.controls['id_item'].hasError('minlength')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            El id_item debe tener minimo 1 digito
                        </p>
                        }
                        @if (searchForm.controls['id_item'].touched &&
                        searchForm.controls['id_item'].hasError('maxlength')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            El id_item debe tener maximo 6 digitos
                        </p>
                        }
                    </div>


                    <div class="mb-5">
                        <label for="lapso_inicio"
                            class="block mb-2 text-base text-black dark:text-blue-500 font-black">Lapso Inicio</label>
                        <input type="text" id="lapso_inicio"
                            class="bg-gray-50 border border-gray-00 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="0245" formControlName="lapso_inicio" required />
                        <!-- Validación de lapso_inicio -->
                        @if (searchForm.controls['lapso_inicio'].touched &&
                        searchForm.controls['lapso_inicio'].hasError('required')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            Campo requerido
                        </p>
                        }

                        @if (searchForm.controls['lapso_inicio'].touched &&
                        searchForm.controls['lapso_inicio'].hasError('minlength')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            Tu fecha debe minimo 8 digitos
                        </p>
                        }
                        @if (searchForm.controls['lapso_inicio'].touched &&
                        searchForm.controls['lapso_inicio'].hasError('maxlength')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            Tu fecha debe tener maximo 8 digitos
                        </p>
                        }
                    </div>

                    <div class="mb-5">
                        <label for="lapso_fin"
                            class="block mb-2 text-base text-black dark:text-blue-500 font-black">Lapso
                            Final</label>
                        <input type="text" id="lapso_fin"
                            class="bg-gray-50 border border-gray-00 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="0245" formControlName="lapso_fin" required />
                        <!-- Validación de lapso_fin -->
                        @if (searchForm.controls['lapso_fin'].touched &&
                        searchForm.controls['lapso_fin'].hasError('required')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            Campo requerido
                        </p>
                        }

                        @if (searchForm.controls['lapso_fin'].touched &&
                        searchForm.controls['lapso_fin'].hasError('minlength')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            Tu fecha debe tener minimo 8 digitos
                        </p>
                        }
                        @if (searchForm.controls['lapso_fin'].touched &&
                        searchForm.controls['lapso_fin'].hasError('maxlength')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            Tu fecha debe tener maximo 8 digitos
                        </p>
                        }
                    </div>

                    <div class="mb-5">
                        <label for="id_co" class="block mb-2 text-base text-black dark:text-blue-500 font-black">Centro
                            de
                            operación</label>
                        <input type="text" id="id_co"
                            class="bg-gray-50 border border-gray-00 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="0245" formControlName="id_co" required />

                        <!-- Validación de item -->
                        @if (searchForm.controls['id_co'].touched &&
                        searchForm.controls['id_co'].hasError('required')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            Campo requerido
                        </p>
                        }

                        @if (searchForm.controls['id_co'].touched &&
                        searchForm.controls['id_co'].hasError('minlength')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            El id_co debe tener minimo 3
                        </p>
                        }
                        @if (searchForm.controls['id_co'].touched &&
                        searchForm.controls['id_co'].hasError('maxlength')) {
                        <p class="my-2 text-center text-gray-100 dark:text-gray-100 bg-red-700 rounded-md">
                            El id_co debe tener maximo 3
                        </p>
                        }
                    </div>

                </div>

                <button type="submit"
                    class="text-white bg-green-400 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Confirmar
                </button>



            </form>
        </div>
    </div>


    @if (listDO.length >0 ) {
    <!-- Aquí estamos pasando la lista listDO al componente TableComponent -->
    <section class="pt-12">
        <app-table [listDO]="listDO" />
    </section>
    }

    <footer class=" text-blue-950 font-bold text-center py-4 mt-auto">
        <p>© {{now | number}} Desarrollador: Wisthong David Martinez Castro</p>
    </footer>
</div>