<div class="container mx-auto p-4">

    <div class="grid grid-cols-4 gap-x-2">
        <button type="button" (click)="btnAlejandro()"
            class="my-4 text-white bg-green-400 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Alejandro
        </button>
        <button type="button" (click)="btnKelly()"
            class="my-4 text-white bg-green-400 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Kelly
        </button>
        <button type="button" (click)="btnIngrid()"
            class="my-4 text-white bg-green-400 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Ingrid
        </button>
        <button type="button" (click)="btnMayer()"
            class="my-4 text-white bg-green-400 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Mayer
        </button>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Item</th>
                    <th scope="col" class="px-6 py-3">Proveedor</th>
                    <th scope="col" class="px-6 py-3">Lista descuentos</th>
                    <th scope="col" class="px-6 py-3">Valor descuentos</th>
                    <th scope="col" class="px-6 py-3">Centro de operacion</th>
                    <th scope="col" class="px-6 py-3">Acción</th>
                </tr>
            </thead>
            <tbody>
                @for (doItem of listDO; track $index) {
                <tr
                    class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
                    <td class="px-6 py-4">{{ doItem.item }}</td>
                    <td class="px-6 py-4">{{ doItem.proveedor_nombre }}</td>
                    <td class="px-6 py-4">{{ doItem.lista_descuento }}</td>
                    <td class="px-6 py-4">{{ doItem.valor_descuentos }}</td>
                    <td class="px-6 py-4">{{ doItem.centro_operacion }}</td>
                    <td class="px-6 py-4">
                        <!-- Botón Guardar -->
                        <button (click)="onSave(doItem)" class="text-green-600 hover:text-green-800 font-medium">
                            <!-- Icono Guardar -->
                            <svg class="w-6 h-6 text-green-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 5v14m8-7h-2m0 0h-2m2 0v2m0-2v-2M3 11h6m-6 4h6m11 4H4c-.55228 0-1-.4477-1-1V6c0-.55228.44772-1 1-1h16c.5523 0 1 .44772 1 1v12c0 .5523-.4477 1-1 1Z" />
                            </svg>
                            <!-- Guardar -->
                        </button>

                        <!-- Separador entre los botones -->
                        <span class="mx-2">|</span>

                        <!-- Botón Eliminar -->
                        <button (click)="onDelete($index)" class="text-red-600 hover:text-red-800 font-medium">
                            <!-- Icono Eliminar -->
                            <svg class="w-6 h-6 text-red-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 5v14m-6-8h6m-6 4h6m4.506-1.494L15.012 12m0 0 1.506-1.506M15.012 12l1.506 1.506M15.012 12l-1.506-1.506M20 19H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1Z" />
                            </svg>
                            <!-- Eliminar -->
                        </button>
                    </td>

                </tr>

                }
            </tbody>
        </table>
    </div>

    <button type="button" (click)="onGeneratePlan()"
        class="mt-4 text-white bg-green-400 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer">
        Generar archivo plano
    </button>
    <!-- TODO: MODAL -->





</div>